.total-section {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-item {
    margin-right: 20px; /* Ajusta el margen según sea necesario */
  }

  .fw-bold {
    font-weight: bold;
  }
  
  
  
  
  