<mat-card>
  <mat-card-header>
    <mat-card-title>Relacionar producto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="relatedFinancialProduct" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
            <mat-select [formControlName]="'customer'">
              <mat-option *ngFor="let customer of customers" [value]="customer.id">
                {{customer.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Producto Financiero</mat-label>
            <mat-select [formControlName]="'financialProduct'" (selectionChange)="onOpcionSeleccionadaChange($event)">
              <mat-option *ngFor="let financialProduct of financialProducts" [value]="financialProduct.id">
                {{financialProduct.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Monto Inicial" formControlName="AmountInitial">
          </mat-form-field>
        </div>

        <div *ngIf="viewPercent" class="col-12 col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="% Intéres mensual" formControlName="montlyCDTPercent">
          </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
          <!-- <mat-form-field style="width: 100%;"> -->
          <input matInput type="date" formControlName="CutDateProduct">
          <!-- </mat-form-field> -->
        </div>

        <br>
        <br>
        <div class="col-12">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="relatedFinancialProduct.invalid">Guardar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>