/* For use in src/lib/core/theming/_palette.scss */
$md-pokeblue: (
  50 : #e8eaf4,
  100 : #c5cae3,
  200 : #9ea7d0,
  300 : #7783bd,
  400 : #5969af,
  500 : #3c4ea1,
  600 : #364799,
  700 : #2e3d8f,
  800 : #273585,
  900 : #1a2574,
  A100 : #aeb7ff,
  A200 : #7b89ff,
  A400 : #485bff,
  A700 : #2f44ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$md-pokeyellow: (
  50 : #fff6e1,
  100 : #feeab5,
  200 : #fddc84,
  300 : #fccd53,
  400 : #fcc32e,
  500 : #fbb809,
  600 : #fab108,
  700 : #faa806,
  800 : #f9a005,
  900 : #f89102,
  A100 : #ffffff,
  A200 : #fff6eb,
  A400 : #ffdeb8,
  A700 : #ffd29f,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-pokered: (
    50 : #ffe7e2,
    100 : #fec3b6,
    200 : #fe9c86,
    300 : #fd7455,
    400 : #fc5630,
    500 : #fc380c,
    600 : #fc320a,
    700 : #fb2b08,
    800 : #fb2406,
    900 : #fa1703,
    A100 : #ffffff,
    A200 : #ffeeed,
    A400 : #ffbdba,
    A700 : #ffa5a1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

